body{
    background-image: url(../images/gotbg.jpg);
    background-size: cover;
}
h1 {
    float: right;
}
.char {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    color: white;
    border-color: rgb(37, 37, 37);
    position: relative;
}
.img {
    height: 160px;
    width: 160px;
}
.selChar {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    border-color: green;
    color: white;
    position: relative;
}
.enemyChar {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    border-color: red;
    color: white;
    position: relative;
}
.hp {
    position: absolute;
    color: rgb(128, 231, 133);
    z-index: 1;
}
.name {
    position: absolute;
    font-weight: bold;
    top: -15px;
    left: -15px;
    color: white;
    z-index: 1;
}
#message {
    color: white;
    font-weight: bold;
}
#message1 {
    color: white;
    font-weight: bold;
}