body{
    background-image: url(../images/gotbg.jpg);
    background-size: cover;
}
h1 {
    float: right;
}
.char {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
}
.selChar {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    border-color: green;
}
.enemyChar {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    border-color: red;
}