body{
    background-image: url(../images/gotbg.jpg);
    background-size: cover;
}
h1 {
    float: right;
}
.char {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    color: white;
    border-color: rgb(37, 37, 37);
    position: relative;
}
.selChar {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    border-color: green;
    color: white;
    position: relative;
}
.enemyChar {
    height: 200px;
    width: 200px;
    float: left;
    border: solid;
    border-width: 20px;
    margin-right: 10px;
    border-color: red;
    color: white;
    position: relative;
}
.name {
    position: absolute;
    color: white;
    z-index: 1;
}